#collage-wrapper {
    height: 100vh;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    z-index: 0;
}

.photo-frame {
    position: absolute;
}

    .photo-frame.bordered {
        background-color: #eee;
        filter: drop-shadow(0 0 0.75rem #333);
        padding: 0.6em;
    }

    .photo-frame.removed {
        animation: removedFadeOut ease 2s;
        animation-fill-mode: forwards;
    }

    .photo-frame img {
        border: 1px solid #ccc;
    }

@keyframes removedFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
