@page "/collage"

<PageTitle>Collage</PageTitle>

<h1>Collage</h1>

<div class="text-center">
    <p>Library selection coming soon.</p>

    <NavLink class="btn btn-primary btn-lg" href="collage/run" target="_blank">
        <i class="bi bi-play-fill"></i> Start
    </NavLink>

    <p>For best results, do not resize window once collage has started.</p>
</div>
