<div class="text-center" style="position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; z-index: 100000; background-color: #222222dd">
    <div class="spinner-border" role="status" style="width: 8rem; height: 8rem; margin-top: 40vh;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>